@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
background-image: url('/src/assets/dark.jpg') ;

}

.gif {
background-image: url('/src/assets/giphy.gif') ;
background-position: center;
background-size: cover;


}

p {
@apply
text-[13px]
}

a {
@apply
duration-100
hover:bg-slate-600
hover:text-white


}
